{% extends 'base.html.twig' %}

{% block title %}Votaciones no habilitadas{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/abrirVotacion.css') }}"> <!-- Asume que tienes un archivo CSS separado -->
{% endblock %}

{% block body %}
    
        <div class="col text-center">
            <img src="{{ asset('uploads/Escudo.png')}}" alt="Escudo" width="80" height="90">
        </div>
        <div class="row py-4 text-center">
                <h1 class="display-6"><b>{{ tipo_de_eleccion }}</b></h1>
        </div>
        <div class="row alto p-5 text-center">
                <p>{{ mensaje }}</p>
                <p>Tiempo para iniciar a votar</p>
            <div>
                <p id="demo" class="lead"></p>
            </div>
        </div>

    <div id="fechaCierre" data-fecha="{{ fecha_cierre|date('c') }}" class="hidden-data"></div>
    <script src="{{ asset('script/abrirVotacion.js') }}"></script>
{% endblock %}
