{% extends 'base.html.twig' %}

{% block title %}Confirmacion{% endblock %}

{% block body %}
<style>
    .alto {height: 50%;}

    button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 26pt;
}
body {
    background-color: #DCE3E8
}
</style>

    <div class="container vh-100">
        <div class="col d-flex justify-content-center">
                <img class="" src="{{ asset('uploads/Escudo.png')}}" width="90" height="100">
            </div>
        <div class="row py-4 text-center">
            <div class="col">
                <h1 class="display-4"><b> {{ tipo_de_eleccion }} {{ anio_eleccion }}</b></h1>
            </div>
        </div>
        <div class="row alto p-5 text-center">
            <div class="col-12">
                <h2 class="display-6"> {{ confirmacion }} </h2>
                
            </div>
            <div class="col align-self-center">
                <a type="button" class="btn btn-primary" href=" {{ url('app_inicio') }} ">Ir al inicio</a>
            </div>
        </div>
    </div>  

        <script type="text/javascript">
        // Función que redirige a la página deseada después de 5 segundos (5000 milisegundos)
        function redirectAfterDelay() {
            setTimeout(function() {
                window.location.href = "{{ path('app_inicio') }}"; // Usa la función 'path' de Twig para generar la URL
            }, 5000);
        }
        window.onload = redirectAfterDelay;
        </script>
    
{% endblock %}