{% extends 'base.html.twig' %}

{% block title %}Confirmaci칩n{% endblock %}

{% block body %}
<body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <img src="{{ asset('uploads/Escudo.png')}}" alt="Escudo" width="90" height="100" class="mb-4">
        <div class="text-center">
            <h1 class="display-4 mb-4"><b>{{ tipo_de_eleccion }} {{ anio_eleccion }}</b></h1>
            <h2 class="display-6 mb-5">{{ confirmacion }} 游땦</h2>
            <a href="{{ path('app_inicio') }}" class="btn btn-primary btn-lg">Ir al inicio</a>
        </div>
    </div>
</body>

<script>
// Funci칩n que redirige a la p치gina deseada despu칠s de 5 segundos (5000 milisegundos)
function redirectAfterDelay() {
    setTimeout(function() {
        window.location.href = "{{ path('app_inicio') }}"; // Usa la funci칩n 'path' de Twig para generar la URL
    }, 5000);
}
window.onload = redirectAfterDelay;
</script>
{% endblock %}