{% extends 'base.html.twig' %}

{% block title %}Votación cerrada{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/abrirVotacion.css') }}"> <!-- Asume que tienes un archivo CSS separado -->
{% endblock %}

{% block body %}

<div class="container">
    <div class="d-flex justify-content-center">
        <img src="{{ asset('uploads/Escudo.png')}}" width="90" height="100">
    </div>
    <div class="text-center">
        <h1><b> {{ tipo_de_eleccion }} {{ anio_eleccion }}</b></h1>
    </div>
    <div class="text-center">
        <h2> {{ mensaje }} </h2>                
    </div>
</div>
  
{% endblock %}
