{% extends 'base.html.twig' %}

{% block title %} Tarjetón - {{ parent() }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ asset('css/tarjeton.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Institución Educativa San José</h1>
        <h2>{{ tipo_de_eleccion }} {{ anio_eleccion }}</h2>
        <form action="{{ path('app_registrar_voto') }}" method="post">
            <div class="d-flex flex-wrap justify-content-center">
                {% for candidato in candidatos %}
                    <div class="card" id="candidato{{ candidato.id }}">
                        <label class="labelexpanded card-content">
                            <input type="radio" name="vote" value="{{ candidato.id }}">
                            <div class="radio-btns">
                                <img src="{{ asset('imagenes/candidatos/' ~ candidato.imagen ) }}" alt="{{ candidato.nombre|e }}">
                                <div class="candidate-name">{{ candidato.nombre|e }}</div>
                                <div class="selection material-symbols-outlined">check_circle</div>
                            </div>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                <input type="submit" value="Votar" id="btnVotar" class="btn btn-success">
            </div>
        </form>
    </div>
    <script src="{{ asset('script/botonListaCandidatos.js') }}"></script>
{% endblock %}